/*--------------------Colors-------------------*/

.bg-color {
    background-color: #E46627;
}

.menu-col {
    color: white;
}

.font-col {
    color: white;
}

/*-----------------Positioning-----------------*/

.menu-pos {
    float: right;
    padding: 10px 10px 0 0;
    position: sticky;
}

.word-one {
    float: left;
}

/*--------------------Fonts--------------------*/

.font {
    font-family: 'Lakki Reddy', cursive;
}

.menu-font {
    font-size: 40px;
}

.title-font {
    font-size: 40px;
}

/*--------------------Sizing--------------------*/


/* -------------------Media Queries---------------------*/

@media(min-width:568px) {
    .fa-5x {

    }
}